.wrapper {
  position: relative;
  margin-bottom: 1.875rem;
}

.dropzone {
  border-width: 0.0625rem;
  padding-bottom: 3.125rem;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
  position: absolute;
  width: 15.625rem;
  left: calc(50% - 7.8125rem);
  bottom: -1.25rem;
}
